@import "tailwindcss";

@theme {
    --color-midnight-black: #09090b;
    --color-midnight-gray: #18181b;
    --color-midnight-blue: #3b82f6;
    --color-midnight-violet: #8b5cf6;
    --color-midnight-light: #27272a;
    --shadow-midnight: 0 0 20px -5px rgba(59, 130, 246, 0.5);
}

@layer base {
    body {
        @apply bg-midnight-black text-white antialiased selection:bg-midnight-blue/30 selection:text-white;
    }
}

@layer utilities {
    .animate-gradient-x {
        background-size: 200% 200%;
        animation: gradient-x 15s ease infinite;
    }

    .animate-marquee {
        animation: marquee 25s linear infinite;
    }

    .animate-marquee2 {
        animation: marquee2 25s linear infinite;
    }
}

@keyframes gradient-x {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}